.text-editor {
  width: 75%;
  height: 80vh;
  margin: 0 auto;
  padding: 1rem;
  font-size: 16px;
  font-family: monospace;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  background-color: #333;
  color: #fff;
}

.text-editor textarea {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: monospace;
  background-color: #333;
  color: #fff;
  border: none;
  resize: none;
  outline: none;
}